node_modules/
build/
dist/
dist_electron/
coverage/
.DS_Store
*.log
.env*
!.env.example
.gradle/
android/app/build/
android/.gradle/
android/build/
android/local.properties
electron/dist/
platforms/
plugins/
www/
